<div class="portal-container">
  <div class="sidebar-container">
    <div>

      <div (click)="redirectToHome()" class="sidebar-logo-container">
        <img width="40" height="40" src="./assets/logo.png" alt="" />
      </div>
      <div class="sidebar-navitems-container">
        <div class="navitems ">
          <i class="fa-solid fa-inbox"></i>
        </div>
        <div class="navitems active">
          <i class="fa-solid fa-user-group"></i>
        </div>
        <div class="navitems">
          <i class="fa-solid fa-chart-line"></i>
        </div>
      </div>
    </div>
    <div class="agent-logo-container">
      <img width="40" height="40" src="./assets/logo.png" alt="" />
      <div class="active-dot"></div>
    </div>
  </div>
  <div class="conversation-container">
    <div class="coversation-thread-container">
      <div class="conversation-thread-header d-flex flex-row justify-content-between w-100">
        <i class="fa-solid fa-bars "></i>
        <div class="thread-header-text">Conversations</div>
        <i (click)="refresh()" class="fa-solid fa-rotate"></i>
      </div>
      <div *ngFor="let conversation of conversationList" class="conversation-customer-container">
        <div (click)="activeConversation(conversation)" class="customer ">
          <div class="customer-header">
            <div class="customer-header-left d-flex justify-content-center align-items-center">
              <input class="form-check-input" type="checkbox" name="" id="" />
            </div>
            <div class="customer-header-right w-100 d-flex flex-row justify-content-between align-items-center">
              <div class="customer-name-container">
                <div class="customer-name">{{conversation.name}}</div>
                <div class="message-src">facebook DM</div>
              </div>
              <div class="customer-time">10m</div>
            </div>
          </div>
          <div class="customer-footer">
            <div class="thread-main-text">{{conversation.message[
              conversation.message.length - 1
              ].message}}</div>
            <div class="thread-subtext">
              Hey There! I probably did one of the best....
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="conversation" class="conversation-text-container">
      <div class="conversation-container-header">{{conversation.name}}</div>
      <div class="conversation-box-container">
        <div class="chat-container row m-0 p-0 w-100">
          <div [ngClass]="{admin: message.sender_id==message.recipient_id,user:message.sender_id!=message.recipient_id}" *ngFor="let message of chatData" class="chat-message d-flex">
            <div class="message-container">
              <div class="d-flex align-items-center">
                <img *ngIf="message.sender_id!=message.recipient_id" class="chat-img" width="40" height="40" src={{conversation.profile_pic}} alt="" />
                <i *ngIf="message.sender_id==message.recipient_id" class="fa-solid fa-circle-user"></i>
                <div class="message-text mx-2">{{ message.message }}</div>
              </div>
              <div class="d-flex message-sender-container">
                <div *ngIf="message.sender_id!=message.recipient_id" class="message-sender">{{ conversation.name }}</div>
                <div *ngIf="message.sender_id==message.recipient_id" class="message-sender">Admin</div>
                <div class="mx-1">-</div>
                <div class="message-time">{{ message.time_of_message  | date : "MMM dd, yyyy, h:mm a"}}</div>
              </div>
            </div>

          </div>
        </div>
        <div *ngIf="chatData" class="input-container">
          <input type="text" class="form-control" [(ngModel)]="replyMessage" placeholder="Reply" aria-label="Reply" aria-describedby="basic-addon1">
          <div class="input-group-append">
            <span (click)="reply()" class="input-group-text" id="basic-addon1">Send</span>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="chatData" class="customer-profile-container">
      <div class="customer-profile-header">
        <div class="customer-logo-container">
          <img style="
          border-radius: 100%;
      " width="40" height="40" src={{conversation.profile_pic}} alt="" />
        </div>
        <div class="customer-name my-2">{{conversation.name}}</div>
        <div class="customer-active-status my-1 d-flex align-items-center">
          <div class="customer-active-status-dot"></div>
          <div class="customer-active-status-text">offline</div>
        </div>
        <div class="customer-action-btn-container d-flex">
          <div class="customer-action-btn">
            <i class="fa-solid fa-phone"></i>
            <div class="mx-2">call</div>
          </div>
          <div class="customer-action-btn">
            <i class="fa-solid fa-circle-user"></i>
            <div class="mx-2">Profile</div>
          </div>
        </div>
      </div>
      <div class="customer-details-container-wrapper">
        <div class="customer-details-container">
          <div class="customer-details-header">Customer Details</div>
          <div class="customer-details">
            <div class="d-flex justify-content-between">
              <div class="label">Email</div>
              <div class="value">test@richpanel.com</div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="label">First Name</div>
              <div class="value">{{conversation.first_name}}</div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="label">Last Name</div>
              <div class="value">{{conversation.last_name}}</div>
            </div>
            <div class="more-details-text">View more details</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
