<div class="container-fluid d-flex justify-content-center align-items-center">
  <div *ngIf="!isConnected" class="form-container">
    <div class="header-container my-3">
      <div>Facebook Page Integration</div>
    </div>
    <div class="form-input-container my-3">
      <button class="btn btn-primary w-100">Connect Page</button>
    </div>
  </div>
  <div *ngIf="isConnected" class="form-container">
    <div class="header-container my-3">
      <div>Facebook Page Integration</div>
    </div>
    <div class="sub-header-container p-2 d-flex justify-content-center">
      <div>Integrated Page :</div>
      <div class="mx-1 clientName">Amazon Business</div>
    </div>
    <div class="form-input-container my-3">
      <button class="btn btn-danger w-100 my-1">Delete Integration</button>
      <button class="btn btn-primary w-100 my-1">Reply to Messages</button>
    </div>
  </div>
</div>
